
.remessa {
  padding-left: 57px;
  margin-top: -50px;
}
.prem {
  padding-left: 57px;
  padding-bottom: 32px;
  font-size: 16px;
  position: relative;
  bottom: 9px;
}

.total {
  padding-bottom: 8px;
}
.title-text {
  margin-bottom: -30px;
}

.vrfy {
  font-size: 14px;
}

.vis {
  height: 55px;
}

.title-text22 {
  width: 39px;
  position: relative;
  left: 261px;
  top: 72px;
}
.imgmaster {
  position: relative;
  left: 47px;
  bottom: 34px;
}

.premss {
  font-size: 16px;
  position: relative;
  bottom: -27px;
}

.hora {
  padding-bottom: 8px;
  font-size: 14px;
}


.title-textxd {
  margin-bottom: -95px;
}

.slide-caption-wrap.caption-background {
  margin-top: 62px;
}
.titleloading {
  position: relative;
  left: 98px;
}